streamlit==1.54.0
openai==2.22.0
python-dotenv==1.2.1
pandas==2.3.3
openpyxl==3.1.5
tavily-python==0.7.12
langchain==0.3.27
langchain-core==0.3.79
langchain-openai==0.3.35
langsmith==0.4.28
duckdb==1.4.0
plotly==6.3.1
faiss-cpu==1.9.0.post1
pypdf==5.4.0
numpy==2.3.3
